@import './variables';
@import './mixins';

* {
    padding: 0;
    margin: 0;
    font-weight: bold;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    @include pepsi-font;
    font-family: 'Pepsi Owners 2';
    background-color: $bg-dark;
    // max-width: 1440px;
}

nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $text-light;
}

.container {
    max-width: 1440px;
    max-height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /* Positioned above the background image */
    object-fit: cover;
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

.background-video.hidden {
    opacity: 0;
    /* Fade out the video */
}





// Navbar
.navbar {
    background: $bg-primary;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.navbar-logo>img {
    width: 65px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 25px 10px;
}

.nav-link:hover {
    background-color: #fff;
    color: $bg-primary;
}

// Content - slider
.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 100px 0 0 0;
    overflow: hidden;
    // background-color: red;
    height: 80%;
}

.img-slider {
    // background-color: red;
    // padding: 5rem;
    display: flex;
    // justify-content: space-evenly;
    // flex-direction: row;
    transition: transform 0.5s ease-in-out;
}

.slide {
    @include slide-card-feature
}

.card {
    margin: -150 auto;
    position: relative;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
    width: 18rem;
    height: 15rem;
    @include card-style;

    &:hover {
        @include zoom-hover
    }

    ;
}

.card-text {
    padding: 2px 16px;
    // background: red;
}

.card-text h2 {
    margin: 0 auto;
    // background: green;
    width: fit-content;
}

.card-text p {
    margin: 10 auto;
    // background: green;
    width: fit-content;
}

.slide-btn {
    @include btn-style(300px);
    @include btn-radius(20px);

    &:hover {
        @include btn-hover;
    }
}

.img1,
.img2,
.img3,
.img4,
.img5 {
    height: 50%;
    @include img-sli;
}

.img1 {
    background-image: url('../images/social/PEP_TITAN_R34_LaunchAssets_Burger_EF_v1.png');
}

.img2 {
    background-image: url('../images/social/PEPSI_2023_PR_WCPZS_Cans.png');
}

.img3 {
    background-image: url('../images/social/PEPSI_2023_PR_Logo+Cans.png');
}

.img4 {
    background-image: url('../images/social/PEPSI_2023_PR_Licensing.png');
}

.img5 {
    background-image: url('../images/social/PEPSI_2023_PR_Photography_Overhead.png');
}

.navigation {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-400%);
}

.prev,
.next {
    @include slider-btn;

    &:hover {
        @include slider-btn-hover
    }
}

.carousel-indicators {
    text-align: center;
    transform: translateY(-1800%);
    position: relative;
    z-index: 1;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: $text-light;
    border-radius: 50%;
    border: 2px solid $text-light;
    cursor: pointer;
}

.indicator.active {
    background-color: $bg-primary;
    border-color: $bg-primary;
}


// DoubleCard
.title-double-card {
    // background: #fff;
    @include text-header-section
}

.double-card {
    height: auto;
    // background-color: red;
    // border-radius: 16px;
    // background-image: url('../images/background-desktop.jpg');
    // background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // padding: 10px;
    border-radius: 24px;
}

.card-des-img {
    background-image: url('../images/social/PEPSI_2023_PR_Logo+Cans.png');
    background-repeat: repeat;
    /* This will repeat the image */
    background-size: auto;
    /* This will keep the original size of the image */
    width: 100%;
    height: 50%;
    /* Adjust height as needed */
}

// .card-des img {
//     // width: 100%;
//     height: 50%;
// }

.card-des {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    margin: 15 auto;
    width: 40rem;
    height: 45rem;
    @include card-des-style;

    &:hover {
        @include card-hover
    }

    ;
}

.card-des-text {
    padding: 45px;
    color: $text-drak;
}

.card-des-text h4 {
    margin: 0 0 1rem 0;
}

.double-card-btn {
    margin: 1rem 0 0 0;
    cursor: pointer;
    @include btn-radius(0 20px 20px 0);
    @include btn-style(200px);

    &:hover {
        @include btn-hover;
    }
}

// Feature

.feature-news-container {
    max-width: 1200px;
    margin: 0 auto;
    // padding: 20px;
}

.feature-title {
    margin: 5rem 0 0 0;
    color: #fff;
    display: flex;
    justify-content: center;
}

.feature-slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 50px 0 0 0;
    overflow: hidden;
    // background-color: red;
    height: auto;
    // padding: 0 0 0 1rem;
}

.feature-img-slider {
    display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    transition: transform 0.5s ease-in-out;
    // padding: 15px;
}

.card-feature {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    margin: 0 auto;
    width: 25rem;
    height: 35rem;
    @include slide-feature;
    @include card-des-style;
    @include margin-for-warning;

    &:hover {
        @include card-hover
    }

    ;
}

.card-feature img {
    width: 100%;
    height: 50%;
}

.feature-indicators {
    text-align: center;
    margin: 1rem 0 0 0;
    // transform: translateY(-1200%);
    position: relative;
    z-index: 1;
}

.indicator-fea {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: $text-light;
    border-radius: 50%;
    border: 2px solid $text-light;
    cursor: pointer;
}

.indicator-fea.active {
    background-color: $bg-primary;
    border-color: $bg-primary;
}

.card-feature-out {
    padding: 15px;
}

// Pepsi-jpobs
.pepsi-jobs {
    display: flex;
    // padding:  0 100px 0 100px;
    justify-content: center;
    /* Center the cards horizontally */
    align-items: center;
    /* Center the cards vertically */
    height: auto;
    /* Full viewport height to center vertically */
    // background-color: #f0f0f0;
}

// Pepsijob-1
.card-left-jobs {
    background-color: $bg-light;
    width: 544px;
    height: 550px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: -170px;
    margin-right: -70px;
    padding: 80px;
    @include card-des-style;
}

.card-left-jobs h1 {
    font-size: 1.5rem;
    margin: 20 auto;
}

.img-right-jobs {
    // background-color: $bg-light;
    background-image: url('../images/social/PEPSI_2023_PR_Photography_Overhead.png');
    // background-size: cover;
    width: 640px;
    height: 550px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    @include card-des-style;
    @include transition(all 2s ease);
}

.img-right-jobs.changeBg {
    background-image: url('../images/social/PEPSI_2023_PR_WCPZS_Cans.png');
    scale: 0.9;
    @include transition(all 2s ease)
}

// pepsijobs-2
.card-left-jobs-2 {
    background-color: $bg-light;
    width: 544px;
    height: 550px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: -170px;
    // margin-right: 70px; 
    padding: 80px;
    @include card-des-style;
}

.card-left-jobs-2 h1 {
    font-size: 1.5rem;
    margin: 20 auto;
}

.img-right-jobs-2 {
    // background-color: $bg-light;
    background-image: url('../images/social/PEPSI_2023_PR_Photography_Overhead.png');
    // background-size: cover;
    width: 640px;
    height: 550px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin-right: -70px;
    @include card-des-style;
    @include transition(all 2s ease)
}

.img-right-jobs-2.changeBg2 {
    background-image: url('../images/social/PEPSI_2023_PR_WCPZS_Cans.png');
    scale: 0.9;
    @include transition(all 2s ease)
}

.box-btn-jobs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // background-color: red;
    // margin: 20px;
    width: 400px;
    height: 200px;
}

.btn-jobs {
    // margin: 0 auto;
    @include btn-radius(20px);
    @include btn-style(300px);

    &:hover {
        @include btn-hover
    }
}

// All Products 
.products {
    // background-color: #fff;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h1 {
    margin: 0 0 2rem 0;
    color: $text-light;
}

.prod-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // background-color: blue;
    width: 900px;
    height: 900px;
    align-items: center;
    justify-items: center;
    scale: 0.9;
}

.pepsi-prod-card {
    @include pepsi-card-prod(250px);
    // @include card-style;

    &:hover {
        // @include z(scale(1.1));
        @include transition(0.3s);
        @include transform(scale(1.1) rotate(5deg));
    }
}

.p-img1.fullpepsi-1 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img2.fullpepsi-2 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img3.fullpepsi-3 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img4.fullpepsi-4 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img5.fullpepsi-5 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img6.fullpepsi-6 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img7.fullpepsi-7 {
    @include pepsi-card-prod(360px);
    @include transition(all 1s ease);
}

.p-img8.fullpepsi-8 {
    @include pepsi-card-prod(450px);
    @include transition(all 1s ease);
}

.p-img9.fullpepsi-9 {
    @include pepsi-card-prod(450px);
    @include transition(all 1s ease);
}

.p-img1,
.p-img2,
.p-img3,
.p-img4,
.p-img5,
.p-img6,
.p-img7,
.p-img8,
.p-img9 {
    // height: 50%;
    @include img-pepsi;
}

.p-img1 {
    background-image: url('../images/products/pepsi-1.png');
}

.p-img2 {
    background-image: url('../images/products/pepsi-2.png');
}

.p-img3 {
    background-image: url('../images/products/pepsi-3.png');
}

.p-img4 {
    background-image: url('../images/products/pepsi-4.png');
}

.p-img5 {
    background-image: url('../images/products/pepsi-5.png');
}

.p-img6 {
    background-image: url('../images/products/pepsi-6.png');
}

.p-img7 {
    background-image: url('../images/products/pepsi-7.png');
}

.p-img8 {
    background-image: url('../images/products/pepsi-8.png');
}

.p-img9 {
    background-image: url('../images/products/pepsi-9.png');
}

#background-image-pep1 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep1.visible-pep1 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep2 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep2.visible-pep2 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep3 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep3.visible-pep3 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep4 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-4.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep4.visible-pep4 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep5 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-5.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep5.visible-pep5 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep6 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-6.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep6.visible-pep6 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep7 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-7.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep7.visible-pep7 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep8 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-8.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep8.visible-pep8 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}

#background-image-pep9 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    /* Positioned behind the video by default */
    background-image: url('../images/products/pepsi-9.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20%;
    opacity: 0;
    /* Start hidden */
    transition: opacity 0.5s ease;
    /* Smooth transition */
}

#background-image-pep9.visible-pep9 {
    opacity: 1;
    /* Fade in the background image */
    z-index: -1;
    /* Move it above the video when visible */
}


// Footer
footer {
    color: $text-light;
    background-color: red;
    height: 50vh;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.footer {
    background-color: blue;
    height: auto;
    padding: 100px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: rgb(77, 124, 5);
}
.footer-logo img {
    width: 65px;
}

.content-footer {
    display: flex;
}

.footer-copy,
.footer-serve,
.footer-social {
    margin: 0 0 0 1rem;
}

.footer-contact {
    width: 20%;
    // background-color: aqua;
}

.footer-contact div {
    display: flex;
    flex-direction: column;
}

.footer-copy {
    width: 20%;
    // background-color: bisque;
}

.footer-copy div {
    display: flex;
    flex-direction: column;
}

.footer-serve {
    width: 20%;
    // background-color: brown;
}

.footer-serve div {
    display: flex;
    flex-direction: column;
}

.footer-social {
    // background-color: red;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.footer-social-icon {
    // display: flex;
    justify-content: space-between;
    // background-color: green;
}

.footer-social-icon a {
    margin: 0 0 0 1rem;
}

.copyright {
    // background-color: green;
    display: flex;
    justify-content: flex-end;
}

.location {
    border: solid 1px;
    border-radius: 26px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location p {
    margin: 0 0 0 10px;
}


/* Responsive styles */
.menu-icon {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

// moblie =============================================================================//
@media only screen and (max-width: 450px) {
   .slider {
    // background-color: red;
    height: 100%;
   }

    .carousel-indicators {
        transform: translateY(-1200%);
    }

    .card-text {
        font-size: 14px;
    }

    .card-des {
        width: 100%;
        height: 35rem;
    }

    .card-des-img {
        height: 50%;
    }
    .card-des-text {
        height: 50%;
        padding: 10px;
    }

    .slide-btn{
        width: 100%;
    }

    .card {
        height: auto;
        padding: 5px;
    }

    .double-card {
        // background-color: green;
    }

    .pepsi-jobs-f {
        display: flex;
        flex-direction: column-reverse;
        // margin: 0 auto;
        // padding: 100px;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        @include transition(all 2s ease);
        // background-color: blue;
        margin: 0;
        padding: 10px;
    }

    .pepsi-jobs-t {
        display: flex;
        flex-direction: column;
        padding: 10px;
        // justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        @include transition(all 2s ease);
        // background-color: #f0f0f0;
    }

    .card-left-jobs {
        top: 0;
        padding: 10px;
        width: 90%;
        height: auto;
        margin: -100 auto;
    }

    .card-left-jobs-2 {
        padding: 10px;
        width: 90%;
        height: auto;
        margin: -100 auto;
    }

    .box-btn-jobs {
        justify-content: center;
        // background-color: red;
        height: auto;
        width: 100%;
        padding: 20px 0 0 0;
        margin: 0 auto;
    }

    .btn-jobs {
        margin: 0 auto;
        width: 100%;
    }

    .img-right-jobs {
        width: 100%;
        height: 50%;
        margin: 0 auto;
    }

    .img-right-jobs-2 {
        width: 100%;
        height: 50%;
        margin: 0 auto;
    }

    .products {
        // background-color: red;
        // margin: 6rem 0 0 0;
        padding: 130px 0 0 0 ;
        // justify-content: center;
        // height: auto;
        // display: none;
    }

    .prod-card {
        // display: flex;
        grid-template-columns: repeat(2, 2fr);
        scale: 0.8;
        // flex-wrap: wrap;
        // background-color: blue;
        width: 100%;
        height: auto;
        padding: 0;
        margin: -100 0 0 0;
        @include transition(all 2s ease)
        // align-items: center;
        // justify-items: center;
    }

    // Footer
    footer {
        color: $text-light;
        background-color: $bg-primary;
        height: auto;
        display: flex;
        // flex-direction: column;
    }

    .line {
        height: 1px;
        width: 100%;
        background-color: #fff;
    }

    .footer {
        background-color: $bg-primary;
        height: auto;
        padding: 10px;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .header-footer {
        display: flex;
        flex-wrap: wrap;
        // background-color: aqua;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        // background-color: rgb(77, 124, 5);
    }

    .logo-footer {
        margin: 16px 0 0 0;
        width: 50%;
    }
    .footer-logo {
        
    }
    .footer-logo img {
        width: 65px;
    }

    .location {
        width: auto;
        margin: 16px 0 0 0;
    }
    .location p {
        font-size: 14px;
        margin: 0 auto;
    }

    .content-footer {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-copy,
    .footer-serve,
    .footer-social {
        margin: 1rem 0 0 0;
    }

    .footer-contact {
        width: 100%;
        // background-color: aqua;
    }

    .footer-contact div {
        display: flex;
        flex-direction: column;
    }

    .footer-copy {
        width: 100%;
        // background-color: bisque;
    }

    .footer-copy div {
        display: flex;
        flex-direction: column;
    }

    .footer-serve {
        width: 100%;
        // background-color: brown;
    }

    .footer-serve div {
        display: flex;
        flex-direction: column;
    }

    .footer-social {
        // background-color: red;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .footer-social-icon {
        // display: flex;
        justify-content: space-between;
        // background-color: green;
    }

    .footer-social-icon a {
        margin: 0 0 0 1rem;
    }

    .copyright {
        // background-color: green;
        display: flex;
        justify-content: flex-start;
    }

    .location {
        border: solid 1px;
        border-radius: 26px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    // img prod
    #background-image-pep1 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-1.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep2 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep3 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-3.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep4 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep5 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-5.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep6 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-6.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep7 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-7.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep8 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-8.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep9 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-9.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }

}
// moblie =============================================================================//


// Tablet =============================================================================//
@media only screen and (min-width: 451px) and (max-width: 1220px) {
    .card-des {
        border-radius: 10px;
        width: 100%;
        // height: 35rem;
    }

    .card-des-img {
        height: 70%;
    }

    .card-des-text {
        padding: 10px;
        height: 30%;
    }

    .card {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        padding: 20px;
        margin: -200 auto;
        width: 27rem;
        height: 25rem;
    }
    .card-text {
        font-size: 20px;
        // background-color: red;

    }

    .slide-btn {
        margin: 0 auto;
        width: 100%;
    }

    .double-card {
        height: auto;
        width: auto;
        padding: 10px;
    }

    .double-card.collapsed {
        height: auto;
        width: auto;
    }

    .carousel-indicators {
        text-align: center;
        transform: translateY(-1600%);
        position: relative;
        z-index: 1;
    }

    .slide {
        width: 50vh;
        height: 130vh;
        // background-color: red;
        overflow: hidden;
    }

    .slider {
        // background-color: green;
        height: 105vh;
        width: 60vh;
        margin: 0 auto;
        padding: 5rem 0 0 0;
    }

    .pepsi-jobs-f {
        display: flex;
        flex-direction: column-reverse;
        // margin: 0 auto;
        // padding: 100px;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100%;
        @include transition(all 2s ease);
        // background-color: #f0f0f0;
        margin: 0;
        // padding: 10px;
    }

    .pepsi-jobs-t {
        display: flex;
        flex-direction: column;
        // padding: 10px;
        justify-content: center;
        align-items: center;
        // height: 80vh;
        width: 100%;
        @include transition(all 2s ease);
        // background-color: #f0f0f0;
    }

    .card-left-jobs {
        padding: 10px;
        width: 90%;
        height: auto;
        margin: -100 auto;
    }

    .card-left-jobs-2 {
        padding: 10px;
        width: 90%;
        height: auto;
        margin: -100 auto;
    }

    .box-btn-jobs {
        justify-content: center;
        // background-color: red;
        height: auto;
        width: 100%;
        padding: 20px 0 0 0;
        margin: 0 auto;
    }

    .btn-jobs {
        margin: 0 auto;
        width: 100%;
    }

    .img-right-jobs {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    .img-right-jobs-2 {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    .prod-card {
        // display: flex;
        // grid-template-columns: repeat(1fr);
        flex-wrap: wrap;
        // background-color: blue;
        width: 100%;
        // height: 150px;
        padding: 0;
        margin: 0 auto;
        // align-items: center;
        // justify-items: center;
    }

    .products {
        // background-color: red;
        // overflow: hidden;
        height: 1200px;
        padding: 0;
        margin: 100 auto;
    }

    .products h1 {
        margin: 0;
    }

    // .products {
    //     display: none;
    // }

    // .feature-title {
    //     margin: 15rem 0 0 0;
    // }

    // Footer
    footer {
        color: $text-light;
        background-color: $bg-primary;
        height: auto;
        display: flex;
        // flex-direction: column;
    }

    .line {
        height: 1px;
        width: 100%;
        background-color: #fff;
    }

    .footer {
        background-color: $bg-primary;
        height: auto;
        padding: 50px;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .header-footer {
        display: flex;
        flex-wrap: wrap;
        // background-color: aqua;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        // background-color: rgb(77, 124, 5);
    }

    .logo-footer {
        margin: 16px 0 0 0;
        width: 50%;
    }
    .footer-logo {
        
    }
    .footer-logo img {
        width: 65px;
    }

    .location {
        width: auto;
        margin: 16px 0 0 0;
    }
    .location p {
        font-size: 14px;
        margin: 0 auto;
    }

    .content-footer {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-copy,
    .footer-serve,
    .footer-social {
        margin: 1rem 0 0 0;
    }

    .footer-contact {
        width: 100%;
        // background-color: aqua;
    }

    .footer-contact div {
        display: flex;
        flex-direction: column;
    }

    .footer-copy {
        width: 100%;
        // background-color: bisque;
    }

    .footer-copy div {
        display: flex;
        flex-direction: column;
    }

    .footer-serve {
        width: 100%;
        // background-color: brown;
    }

    .footer-serve div {
        display: flex;
        flex-direction: column;
    }

    .footer-social {
        // background-color: red;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .footer-social-icon {
        // display: flex;
        justify-content: space-between;
        // background-color: green;
    }

    .footer-social-icon a {
        margin: 0 0 0 1rem;
    }

    .copyright {
        // background-color: green;
        display: flex;
        justify-content: flex-start;
    }

    .location {
        border: solid 1px;
        border-radius: 26px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #background-image-pep1 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-1.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep2 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-2.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep3 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-3.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep4 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-4.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep5 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-5.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep6 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-6.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep7 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-7.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep8 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-8.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
    #background-image-pep9 {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        /* Positioned behind the video by default */
        background-image: url('../images/products/pepsi-9.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 30%;
        opacity: 0;
        /* Start hidden */
        transition: opacity 0.5s ease;
        /* Smooth transition */
    }
}

// 401-960
@media only screen and (min-width: 451px) and (max-width: 600px) {
    .prod-card {
        // display: flex;
        grid-template-columns: repeat(2, 1fr);
        scale: 0.8;
        // flex-wrap: wrap;
        // background-color: blue;
        width: 100%;
        // height: auto;
        padding: 0;
        margin: 0;
        // align-items: center;
        // justify-items: center;
    }

}
// Tablet =============================================================================//

//Desktop=============================================================================//
@media only screen and (min-width: 1221px) {
    .card {
        margin: -200 800;
        width: 30rem;
        height: 15rem;
    }

    .card-feature {
        height: auto;
    }

    .feature-news-container {
        max-width: 1200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        // background-color: red;
        @include transition(all 2s ease);
        // padding: 20px;
    }

    .feature-news-container.feature-collapsed {
        // height: 65vh;
        // margin: 0 0 0 5rem ;
    }

    .feature-slider {
        height: auto;
        // background-color: red;
    }

    .card-feature-out {
        min-width: auto;
        box-sizing: border-box;
        padding: 5px;
    }

    .carousel-indicators {
        transform: translateY(-1500%);
    }

    .card-feature {
        // position: relative;
        width: 24.3rem;
        height: 40rem;
    }

    .card-feature img {
        width: 100%;
        // border-radius: 8px;
    }

    .feature-title {
        margin: 0;
    }

    // double card
    .double-card {
        // height: auto;
        // background-color: #fff;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 50px;
        // margin: 0 0 5rem 0;
    }

    .card-des-img {
        // height: 70%;
    }

    .card-des {
        margin: 5 auto;
        width: 33rem;
        height: 40rem;
    }

    .double-card {
        display: flex;
        // height: 80vh;
        width: 100%;
        @include transition(all 3s ease);
        margin: 0 auto;
        // scale: 0.8;
        // background-color: red;
        // border-radius: 16px;
    }

    .double-card.collapsed {
        // height: 60vh;
        margin: 0 auto;
        @include transform(scale(0.8));
        // background-image: url('../images/social/PEPSI_2023_PR_Photography_Overhead.png');
        background-repeat: repeat;
    }

    .pepsi-jobs-f {
        display: flex;
        // margin: 0 auto;
        // padding: 100px;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        @include transition(all 2s ease);
        // background-color: #f0f0f0;
    }

    // .pepsi-jobs-f.pepsi-collapsed{
    //     // height: 70vh;
    //     // justify-content: flex-end;
    //     @include transform(scale(1.1));
    //     // width: 120%;
    // }

    .pepsi-jobs-t {
        display: flex;
        // padding: 100px;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        @include transition(all 2s ease);
        // background-color: #f0f0f0;
    }

    // .pepsi-jobs-t.pepsi-collapsed{
    //     // height: 70vh;
    //     @include transform(scale(1.1));
    // }


    // footer
    .footer {
        background-color: $bg-primary;
        height: 100%;
        padding: 100px;
        max-width: 100%;
        margin: 0 auto;
    }

    .header-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: rgb(77, 124, 5);
    }

    .content-footer {
        display: flex;
    }

    .footer-copy,
    .footer-serve,
    .footer-social {
        margin: 0 0 0 1rem;
    }

    .footer-contact {
        width: 20%;
        // background-color: aqua;
    }

    .footer-contact div {
        display: flex;
        flex-direction: column;
    }

    .footer-copy {
        width: 20%;
        // background-color: bisque;
    }

    .footer-copy div {
        display: flex;
        flex-direction: column;
    }

    .footer-serve {
        width: 20%;
        // background-color: brown;
    }

    .footer-serve div {
        display: flex;
        flex-direction: column;
    }

    .footer-social {
        // background-color: red;
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }

    .footer-social-icon {
        // display: flex;
        justify-content: space-between;
        // background-color: green;
    }

    .footer-social-icon a {
        margin: 0 0 0 1rem;
    }

    .copyright {
        // background-color: green;
        display: flex;
        justify-content: flex-end;
    }

    .location {
        border: solid 1px;
        border-radius: 26px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .location p {
        margin: 0 0 0 10px;
    }
}
//Desktop=============================================================================//

//NAV
@media (max-width: 768px) {
    .navbar-container {
        justify-content: end;
        padding: 10px;
    }

    .navbar-logo {
        width: 93%;
        display: flex;
        justify-content: center;
        padding: 0 0 0 30px;
    }

    .menu-icon {
        display: block;
        width: 7%;
        margin: 0;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        background: $bg-primary;
    }

    .nav-menu.active {
        display: flex;
        left: 0;
        opacity: 1;
    }

    .nav-item {
        margin: 0;
        text-align: center;
        padding: 14px;
    }

    .nav-link {
        background-color: transparent;
        color: #fff;
        padding: 0;
    }

    .nav-link:hover {
        background-color: transparent;
        color: $text-light;
    }
}