* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideshow {
    max-width: 1000px;
    max-height: 200px;
    margin: 0 auto;
}

.items {
    max-width: 1000px;
    max-height: 200px;
}

.items img {
    width: 1000px;
    height: 200px;
    object-fit: cover;
}
.slideshow .slick-prev {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 10;
};

.slideshow .slick-next {
    position: absolute;
    top: 80px;
    left: 20px;
    z-index: 10;
};
